<h1>Hello In Show Page </h1>

<p>
  <b>Listing Type:</b>
  <%= @items.listingtype %>
</p>
<p>
  <b>Price</b>
  <%= @items.price %>
</p>
<p>
  <b>Purpose</b>
  <%= @items.purpose %>
</p>
<p>
  <b>Area</b>
  <%= @items.area %>
</p>
<p>
  <b>country</b>
  <%= @address.country %>
</p>

<p>
  <b>city</b>
  <%= @address.city %>
</p>
<p>
  <b>community</b>
  <%= @address.community %>
</p>
<p>
  <b>subcommunity</b>
  <%= @address.subcommunity %>
</p>
<p>
  <b>subtype</b>
  <%= @address.subtype %>
</p>
<p>
  <b>Description</b>
  <%= @items.description %>
</p>